name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches:
      - main
permissions:
  contents: read 

env:
  TWINE_USERNAME: __token__
  TWINE_PASSWORD: ${{ secrets.SECRETKEY }}

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Configurer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Installer les dépendances de build
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Construire le package
        run: python -m build

      - name: Vérifier le package avec twine
        run: twine check dist/*

      - name: Publier sur TestPyPI
        run: twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*